<% layout('/layouts/default.html', {title: '发起的活动管理', libs: ['dataGrid']}){ %>
<div class="main-content">
	<div class="box box-main">
		<div class="box-header">
			<div class="box-title">
				<i class="fa fa-list-alt"></i> ${text('发起的活动管理aaa')}
			</div>
			<div class="box-tools pull-right">
				<a href="#" class="btn btn-default" id="btnSearch" title="${text('查询aaa')}"><i class="fa fa-filter"></i> ${text('查询')}</a>
				<% if(hasPermi('t_flexible:tflexible:edit')){ %>
					<a href="${ctx}/t_flexible/tflexible/form" class="btn btn-default btnTool" title="${text('新增发起的活动')}"><i class="fa fa-plus"></i> ${text('新增')}</a>
				<% } %>
			</div>
		</div>
		<div class="box-body">
			<#form:form id="searchForm" model="${tflexible}" action="${ctx}/t_flexible/tflexible/listData" method="post" class="form-inline hide"
					data-page-no="${parameter.pageNo}" data-page-size="${parameter.pageSize}" data-order-by="${parameter.orderBy}">
				<div class="form-group">
					<label class="control-label">${text('活动id')}：</label>
					<div class="control-inline">
						<#form:input path="flexibleid" maxlength="120" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('活动名称')}：</label>
					<div class="control-inline">
						<#form:input path="flexiblename" maxlength="255" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('开始时间')}：</label>
					<div class="control-inline">
						<#form:input path="begindate" readonly="true" maxlength="20" class="form-control Wdate-datetime"
							dataFormat="datetime" onclick="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm',isShowClear:false});"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('结束时间')}：</label>
					<div class="control-inline">
						<#form:input path="enddate" readonly="true" maxlength="20" class="form-control Wdate-datetime"
							dataFormat="datetime" onclick="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm',isShowClear:false});"/>
					</div>
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-primary btn-sm">${text('查询')}</button>
					<button type="reset" class="btn btn-default btn-sm">${text('重置')}</button>
				</div>
			</#form:form>
			<table id="dataGrid"></table>
			<div id="dataGridPage"></div>
		</div>
	</div>
</div>
<% } %>
<script>
// 初始化DataGrid对象
$('#dataGrid').dataGrid({
	searchForm: $("#searchForm"),
	columnModel: [
		{header:'${text('活动id')}', name:'flexibleid', index:'a.flexibleid', width:150, align:"left", frozen:true, formatter: function(val, obj, row, act){
			return '<a href="${ctx}/t_flexible/tflexible/form?flexibleid='+row.flexibleid+'" class="btnList" data-title="${text('编辑发起的活动')}">'+(val||row.id)+'</a>';
		}},
		{header:'${text('活动名称')}', name:'flexiblename', index:'a.flexiblename', width:150, align:"left"},
		{header:'${text('活动主题')}', name:'title', index:'a.title', width:150, align:"left"},
		{header:'${text('活动主旨')}', name:'subject', index:'a.subject', width:150, align:"left"},
		{header:'${text('活动说明')}', name:'illustrate', index:'a.illustrate', width:150, align:"left"},
		{header:'${text('createdate')}', name:'createdate', index:'a.createdate', width:150, align:"center"},
		{header:'${text('开始时间')}', name:'begindate', index:'a.begindate', width:150, align:"center"},
		{header:'${text('结束时间')}', name:'enddate', index:'a.enddate', width:150, align:"center"},
		{header:'${text('参与方式')}', name:'joininway', index:'a.joininway', width:150, align:"left"},
		{header:'${text('活动地址')}', name:'address', index:'a.address', width:150, align:"left"},
		{header:'${text('活动限制')}', name:'flexiablelimit', index:'a.flexiablelimit', width:150, align:"left"},
		{header:'${text('活动状态')}', name:'flexiblestatus', index:'a.flexiblestatus', width:150, align:"left"},
		{header:'${text('图片0')}', name:'img', index:'a.img', width:150, align:"left"},
		{header:'${text('点击之后跳转的路径')}', name:'detailurl', index:'a.detailurl', width:150, align:"left"},
		{header:'${text('点赞数量')}', name:'praisecount', index:'a.praisecount', width:150, align:"center"},
		{header:'${text('吐槽数量')}', name:'spitslotcount', index:'a.spitslotcount', width:150, align:"center"},
		{header:'${text('评价数量')}', name:'commentcount', index:'a.commentcount', width:150, align:"center"},
		{header:'${text('状态')}', name:'status', index:'a.status', width:150, align:"center", formatter: function(val, obj, row, act){
			return js.getDictLabel(${@DictUtils.getDictListJson('sys_search_status')}, val, '${text('未知')}', true);
		}},
		{header:'${text('创建时间')}', name:'createDate', index:'a.create_date', width:150, align:"center"},
		{header:'${text('操作')}', name:'actions', width:120, sortable:false, title:false, formatter: function(val, obj, row, act){
			var actions = [];
			<% if(hasPermi('t_flexible:tflexible:edit')){ %>
				actions.push('<a href="${ctx}/t_flexible/tflexible/form?flexibleid='+row.flexibleid+'" class="btnList" title="${text('编辑发起的活动')}"><i class="fa fa-pencil"></i></a>&nbsp;');
				if (row.status == Global.STATUS_NORMAL){
					actions.push('<a href="${ctx}/t_flexible/tflexible/disable?flexibleid='+row.flexibleid+'" class="btnList" title="${text('停用发起的活动')}" data-confirm="${text('确认要停用该发起的活动吗？')}"><i class="glyphicon glyphicon-ban-circle"></i></a>&nbsp;');
				}
				if (row.status == Global.STATUS_DISABLE){
					actions.push('<a href="${ctx}/t_flexible/tflexible/enable?flexibleid='+row.flexibleid+'" class="btnList" title="${text('启用发起的活动')}" data-confirm="${text('确认要启用该发起的活动吗？')}"><i class="glyphicon glyphicon-ok-circle"></i></a>&nbsp;');
				}
				actions.push('<a href="${ctx}/t_flexible/tflexible/delete?flexibleid='+row.flexibleid+'" class="btnList" title="${text('删除发起的活动')}" data-confirm="${text('确认要删除该发起的活动吗？')}"><i class="fa fa-trash-o"></i></a>&nbsp;');
			<% } %>
			return actions.join('');
		}}
	],
	// 加载成功后执行事件
	ajaxSuccess: function(data){
		
	}
});
</script>