<% layout('/layouts/default.html', {title: 'indexbanner管理', libs: ['dataGrid']}){ %>
<div class="main-content">
	<div class="box box-main">
		<div class="box-header">
			<div class="box-title">
				<i class="fa fa-list-alt"></i> ${text('indexbanner管理')}
			</div>
			<div class="box-tools pull-right">
				<a href="#" class="btn btn-default" id="btnSearch" title="${text('查询')}"><i class="fa fa-filter"></i> ${text('查询')}</a>
				<% if(hasPermi('t_indexbanner:tindexbanner:edit')){ %>
					<a href="${ctx}/t_indexbanner/tindexbanner/form" class="btn btn-default btnTool" title="${text('新增indexbanner')}"><i class="fa fa-plus"></i> ${text('新增')}</a>
				<% } %>
			</div>
		</div>
		<div class="box-body">
			<#form:form id="searchForm" model="${tindexbanner}" action="${ctx}/t_indexbanner/tindexbanner/listData" method="post" class="form-inline hide"
					data-page-no="${parameter.pageNo}" data-page-size="${parameter.pageSize}" data-order-by="${parameter.orderBy}">
				<div class="form-group">
					<label class="control-label">${text('banner的名称')}：</label>
					<div class="control-inline">
						<#form:input path="bannername" maxlength="255" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('点击之后跳转的链接')}：</label>
					<div class="control-inline">
						<#form:input path="detailurl" maxlength="1024" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('状态')}：</label>
					<div class="control-inline width-120">
						<#form:select path="status" dictType="sys_search_status" blankOption="true" class="form-control"/>
					</div>
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-primary btn-sm">${text('查询')}</button>
					<button type="reset" class="btn btn-default btn-sm">${text('重置')}</button>
				</div>
			</#form:form>
			<table id="dataGrid"></table>
			<div id="dataGridPage"></div>
		</div>
	</div>
</div>
<% } %>
<script>
// 初始化DataGrid对象
$('#dataGrid').dataGrid({
	searchForm: $("#searchForm"),
	columnModel: [
		{header:'${text('banner的名称')}', name:'bannername', index:'a.bannername', width:150, align:"left", frozen:true, formatter: function(val, obj, row, act){
			return '<a href="${ctx}/t_indexbanner/tindexbanner/form?bannerid='+row.bannerid+'" class="btnList" data-title="${text('编辑indexbanner')}">'+(val||row.id)+'</a>';
		}},
		{header:'${text('点击之后跳转的链接')}', name:'detailurl', index:'a.detailurl', width:150, align:"left"},
		{header:'${text('图片0')}', name:'img', index:'a.img', width:150, align:"left"},
		{header:'${text('视频路径')}', name:'videourl', index:'a.videourl', width:150, align:"left"},
		{header:'${text('扩展1')}', name:'extend1', index:'a.extend1', width:150, align:"left"},
		{header:'${text('创建时间')}', name:'createDate', index:'a.create_date', width:150, align:"center"},
		{header:'${text('操作')}', name:'actions', width:120, sortable:false, title:false, formatter: function(val, obj, row, act){
			var actions = [];
			<% if(hasPermi('t_indexbanner:tindexbanner:edit')){ %>
				actions.push('<a href="${ctx}/t_indexbanner/tindexbanner/form?bannerid='+row.bannerid+'" class="btnList" title="${text('编辑indexbanner')}"><i class="fa fa-pencil"></i></a>&nbsp;');
				if (row.status == Global.STATUS_NORMAL){
					actions.push('<a href="${ctx}/t_indexbanner/tindexbanner/disable?bannerid='+row.bannerid+'" class="btnList" title="${text('停用indexbanner')}" data-confirm="${text('确认要停用该indexbanner吗？')}"><i class="glyphicon glyphicon-ban-circle"></i></a>&nbsp;');
				}
				if (row.status == Global.STATUS_DISABLE){
					actions.push('<a href="${ctx}/t_indexbanner/tindexbanner/enable?bannerid='+row.bannerid+'" class="btnList" title="${text('启用indexbanner')}" data-confirm="${text('确认要启用该indexbanner吗？')}"><i class="glyphicon glyphicon-ok-circle"></i></a>&nbsp;');
				}
				actions.push('<a href="${ctx}/t_indexbanner/tindexbanner/delete?bannerid='+row.bannerid+'" class="btnList" title="${text('删除indexbanner')}" data-confirm="${text('确认要删除该indexbanner吗？')}"><i class="fa fa-trash-o"></i></a>&nbsp;');
			<% } %>
			return actions.join('');
		}}
	],
	// 加载成功后执行事件
	ajaxSuccess: function(data){
		
	}
});
</script>