<% layout('/layouts/default.html', {title: '我收藏的资讯管理', libs: ['dataGrid']}){ %>
<div class="main-content">
	<div class="box box-main">
		<div class="box-header">
			<div class="box-title">
				<i class="fa fa-list-alt"></i> ${text('我收藏的资讯管理')}
			</div>
			<div class="box-tools pull-right">
				<a href="#" class="btn btn-default" id="btnSearch" title="${text('查询')}"><i class="fa fa-filter"></i> ${text('查询')}</a>
				<% if(hasPermi('t_collect_information:tcollectInformation:edit')){ %>
					<a href="${ctx}/t_collect_information/tcollectInformation/form" class="btn btn-default btnTool" title="${text('新增我收藏的资讯')}"><i class="fa fa-plus"></i> ${text('新增')}</a>
				<% } %>
			</div>
		</div>
		<div class="box-body">
			<#form:form id="searchForm" model="${tcollectInformation}" action="${ctx}/t_collect_information/tcollectInformation/listData" method="post" class="form-inline hide"
					data-page-no="${parameter.pageNo}" data-page-size="${parameter.pageSize}" data-order-by="${parameter.orderBy}">
				<div class="form-group">
					<label class="control-label">${text('用户的id 关联 t_wxmember 中的主键')}：</label>
					<div class="control-inline">
						<#form:input path="memberid" maxlength="20" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('微信openid')}：</label>
					<div class="control-inline">
						<#form:input path="openid" maxlength="64" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('收藏资讯的id')}：</label>
					<div class="control-inline">
						<#form:input path="infoid" maxlength="64" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('推荐资讯的名称')}：</label>
					<div class="control-inline">
						<#form:input path="infoname" maxlength="64" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('发送者id')}：</label>
					<div class="control-inline">
						<#form:input path="senderid" maxlength="64" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-primary btn-sm">${text('查询')}</button>
					<button type="reset" class="btn btn-default btn-sm">${text('重置')}</button>
				</div>
			</#form:form>
			<table id="dataGrid"></table>
			<div id="dataGridPage"></div>
		</div>
	</div>
</div>
<% } %>
<script>
// 初始化DataGrid对象
$('#dataGrid').dataGrid({
	searchForm: $("#searchForm"),
	columnModel: [
		{header:'${text('用户的id 关联 t_wxmember 中的主键')}', name:'memberid', index:'a.memberid', width:150, align:"left", frozen:true, formatter: function(val, obj, row, act){
			return '<a href="${ctx}/t_collect_information/tcollectInformation/form?collectionid='+row.collectionid+'" class="btnList" data-title="${text('编辑我收藏的资讯')}">'+(val||row.id)+'</a>';
		}},
		{header:'${text('微信openid')}', name:'openid', index:'a.openid', width:150, align:"left"},
		{header:'${text('收藏资讯的id')}', name:'infoid', index:'a.infoid', width:150, align:"left"},
		{header:'${text('推荐资讯的名称')}', name:'infoname', index:'a.infoname', width:150, align:"left"},
		{header:'${text('部门')}', name:'department', index:'a.department', width:150, align:"left"},
		{header:'${text('发送者名称')}', name:'sendername', index:'a.sendername', width:150, align:"left"},
		{header:'${text('跳转url')}', name:'detailurl', index:'a.detailurl', width:150, align:"left"},
		{header:'${text('图片0')}', name:'img', index:'a.img', width:150, align:"left"},
		{header:'${text('ico信息')}', name:'ico', index:'a.ico', width:150, align:"left"},
		{header:'${text('扩展1')}', name:'extend1', index:'a.extend1', width:150, align:"left"},
		{header:'${text('视频url')}', name:'videourl', index:'a.videourl', width:150, align:"left"},
		{header:'${text('创建时间')}', name:'createDate', index:'a.create_date', width:150, align:"center"},
		{header:'${text('操作')}', name:'actions', width:120, sortable:false, title:false, formatter: function(val, obj, row, act){
			var actions = [];
			<% if(hasPermi('t_collect_information:tcollectInformation:edit')){ %>
				actions.push('<a href="${ctx}/t_collect_information/tcollectInformation/form?collectionid='+row.collectionid+'" class="btnList" title="${text('编辑我收藏的资讯')}"><i class="fa fa-pencil"></i></a>&nbsp;');
				if (row.status == Global.STATUS_NORMAL){
					actions.push('<a href="${ctx}/t_collect_information/tcollectInformation/disable?collectionid='+row.collectionid+'" class="btnList" title="${text('停用我收藏的资讯')}" data-confirm="${text('确认要停用该我收藏的资讯吗？')}"><i class="glyphicon glyphicon-ban-circle"></i></a>&nbsp;');
				}
				if (row.status == Global.STATUS_DISABLE){
					actions.push('<a href="${ctx}/t_collect_information/tcollectInformation/enable?collectionid='+row.collectionid+'" class="btnList" title="${text('启用我收藏的资讯')}" data-confirm="${text('确认要启用该我收藏的资讯吗？')}"><i class="glyphicon glyphicon-ok-circle"></i></a>&nbsp;');
				}
				actions.push('<a href="${ctx}/t_collect_information/tcollectInformation/delete?collectionid='+row.collectionid+'" class="btnList" title="${text('删除我收藏的资讯')}" data-confirm="${text('确认要删除该我收藏的资讯吗？')}"><i class="fa fa-trash-o"></i></a>&nbsp;');
			<% } %>
			return actions.join('');
		}}
	],
	// 加载成功后执行事件
	ajaxSuccess: function(data){
		
	}
});
</script>