<% layout('/layouts/default.html', {title: '微信用户(模块)管理', libs: ['dataGrid']}){ %>
<div class="main-content">
	<div class="box box-main">
		<div class="box-header">
			<div class="box-title">
				<i class="fa fa-list-alt"></i> ${text('微信用户(模块)管理')}
			</div>
			<div class="box-tools pull-right">
				<a href="#" class="btn btn-default" id="btnSearch" title="${text('查询')}"><i class="fa fa-filter"></i> ${text('查询')}</a>
				<% if(hasPermi('t_wxmember:twxmember:edit')){ %>
					<a href="${ctx}/t_wxmember/twxmember/form" class="btn btn-default btnTool" title="${text('新增微信用户(模块)')}"><i class="fa fa-plus"></i> ${text('新增')}</a>
				<% } %>
			</div>
		</div>
		<div class="box-body">
			<#form:form id="searchForm" model="${twxmember}" action="${ctx}/t_wxmember/twxmember/listData" method="post" class="form-inline hide"
					data-page-no="${parameter.pageNo}" data-page-size="${parameter.pageSize}" data-order-by="${parameter.orderBy}">
				<div class="form-group">
					<label class="control-label">${text('用户号的id')}：</label>
				</div>
				<div class="form-group">
					<label class="control-label">${text('微信openid')}：</label>
					<div class="control-inline">
						<#form:input path="openid" maxlength="128" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('微信session_key')}：</label>
					<div class="control-inline">
						<#form:input path="sessionKey" maxlength="128" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('微信用户名')}：</label>
					<div class="control-inline">
						<#form:input path="wxmembername" maxlength="255" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('登录状态 1表示已经登录 0表示未登录')}：</label>
					<div class="control-inline width-120">
						<#form:select path="loginstatus" dictType="wxloginstatus" blankOption="true" class="form-control"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('手机号')}：</label>
					<div class="control-inline">
						<#form:input path="phone" maxlength="11" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('支付宝号码')}：</label>
					<div class="control-inline">
						<#form:input path="alipaynum" maxlength="20" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('微博号码')}：</label>
					<div class="control-inline">
						<#form:input path="microblog" maxlength="20" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('用户的qq号码')}：</label>
					<div class="control-inline">
						<#form:input path="qq" maxlength="20" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('邮箱')}：</label>
					<div class="control-inline">
						<#form:input path="email" maxlength="40" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('公司邮箱')}：</label>
					<div class="control-inline">
						<#form:input path="companyemail" maxlength="40" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('性别')}：</label>
					<div class="control-inline">
						<#form:radio path="sex" dictType="sys_user_sex" blankOption="true" class="form-control"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('用户名')}：</label>
					<div class="control-inline">
						<#form:input path="username" maxlength="40" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('所在部门')}：</label>
					<div class="control-inline">
						<#form:input path="department" maxlength="30" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-primary btn-sm">${text('查询')}</button>
					<button type="reset" class="btn btn-default btn-sm">${text('重置')}</button>
				</div>
			</#form:form>
			<table id="dataGrid"></table>
			<div id="dataGridPage"></div>
		</div>
	</div>
</div>
<% } %>
<script>
// 初始化DataGrid对象
$('#dataGrid').dataGrid({
	searchForm: $("#searchForm"),
	columnModel: [
		{header:'${text('用户号的id')}', name:'memberid', index:'a.memberid', width:150, align:"left", frozen:true, formatter: function(val, obj, row, act){
			return '<a href="${ctx}/t_wxmember/twxmember/form?memberid='+row.memberid+'" class="btnList" data-title="${text('编辑微信用户(模块)')}">'+(val||row.id)+'</a>';
		}},
		{header:'${text('微信openid')}', name:'openid', index:'a.openid', width:150, align:"left"},
		{header:'${text('微信session_key')}', name:'sessionKey', index:'a.session_key', width:150, align:"left"},
		{header:'${text('微信的code')}', name:'code', index:'a.code', width:150, align:"left"},
		{header:'${text('微信用户名')}', name:'wxmembername', index:'a.wxmembername', width:150, align:"left"},
		{header:'${text('微信头像')}', name:'wxphoto', index:'a.wxphoto', width:150, align:"left"},
		{header:'${text('登录状态 1表示已经登录 0表示未登录')}', name:'loginstatus', index:'a.loginstatus', width:150, align:"center", formatter: function(val, obj, row, act){
			return js.getDictLabel(${@DictUtils.getDictListJson('wxloginstatus')}, val, '${text('未知')}', true);
		}},
		{header:'${text('手机号')}', name:'phone', index:'a.phone', width:150, align:"left"},
		{header:'${text('支付宝号码')}', name:'alipaynum', index:'a.alipaynum', width:150, align:"left"},
		{header:'${text('微博号码')}', name:'microblog', index:'a.microblog', width:150, align:"left"},
		{header:'${text('用户的qq号码')}', name:'qq', index:'a.qq', width:150, align:"left"},
		{header:'${text('电话')}', name:'mobile', index:'a.mobile', width:150, align:"left"},
		{header:'${text('邮箱')}', name:'email', index:'a.email', width:150, align:"left"},
		{header:'${text('公司邮箱')}', name:'companyemail', index:'a.companyemail', width:150, align:"left"},
		{header:'${text('性别')}', name:'sex', index:'a.sex', width:150, align:"center", formatter: function(val, obj, row, act){
			return js.getDictLabel(${@DictUtils.getDictListJson('sys_user_sex')}, val, '${text('未知')}', true);
		}},
		{header:'${text('用户名')}', name:'username', index:'a.username', width:150, align:"left"},
		{header:'${text('所在部门')}', name:'department', index:'a.department', width:150, align:"left"},
		{header:'${text('工作地点')}', name:'worklocation', index:'a.worklocation', width:150, align:"left"},
		{header:'${text('上次登录ip')}', name:'lastLoginIp', index:'a.last_login_ip', width:150, align:"left"},
		{header:'${text('最后登录时间')}', name:'lastLoginDate', index:'a.last_login_date', width:150, align:"center"},
		{header:'${text('状态')}', name:'status', index:'a.status', width:150, align:"center", formatter: function(val, obj, row, act){
			return js.getDictLabel(${@DictUtils.getDictListJson('sys_search_status')}, val, '${text('未知')}', true);
		}},
		{header:'${text('创建时间')}', name:'createDate', index:'a.create_date', width:150, align:"center"},
		{header:'${text('个性签名')}', name:'sign', index:'a.sign', width:150, align:"left"},
		{header:'${text('操作')}', name:'actions', width:120, sortable:false, title:false, formatter: function(val, obj, row, act){
			var actions = [];
			<% if(hasPermi('t_wxmember:twxmember:edit')){ %>
				actions.push('<a href="${ctx}/t_wxmember/twxmember/form?memberid='+row.memberid+'" class="btnList" title="${text('编辑微信用户(模块)')}"><i class="fa fa-pencil"></i></a>&nbsp;');
				if (row.status == Global.STATUS_NORMAL){
					actions.push('<a href="${ctx}/t_wxmember/twxmember/disable?memberid='+row.memberid+'" class="btnList" title="${text('停用微信用户(模块)')}" data-confirm="${text('确认要停用该微信用户(模块)吗？')}"><i class="glyphicon glyphicon-ban-circle"></i></a>&nbsp;');
				}
				if (row.status == Global.STATUS_DISABLE){
					actions.push('<a href="${ctx}/t_wxmember/twxmember/enable?memberid='+row.memberid+'" class="btnList" title="${text('启用微信用户(模块)')}" data-confirm="${text('确认要启用该微信用户(模块)吗？')}"><i class="glyphicon glyphicon-ok-circle"></i></a>&nbsp;');
				}
				actions.push('<a href="${ctx}/t_wxmember/twxmember/delete?memberid='+row.memberid+'" class="btnList" title="${text('删除微信用户(模块)')}" data-confirm="${text('确认要删除该微信用户(模块)吗？')}"><i class="fa fa-trash-o"></i></a>&nbsp;');
			<% } %>
			return actions.join('');
		}}
	],
	// 加载成功后执行事件
	ajaxSuccess: function(data){
		
	}
});
</script>