<% layout('/layouts/default.html', {title: '我参与的活动(JX)管理', libs: ['dataGrid']}){ %>
<div class="main-content">
	<div class="box box-main">
		<div class="box-header">
			<div class="box-title">
				<i class="fa fa-list-alt"></i> ${text('我参与的活动(JX)管理')}
			</div>
			<div class="box-tools pull-right">
				<a href="#" class="btn btn-default" id="btnSearch" title="${text('查询')}"><i class="fa fa-filter"></i> ${text('查询')}</a>
				<% if(hasPermi('t_flexible_joinin:tflexibleJoinin:edit')){ %>
					<a href="${ctx}/t_flexible_joinin/tflexibleJoinin/form" class="btn btn-default btnTool" title="${text('新增我参与的活动(JX)')}"><i class="fa fa-plus"></i> ${text('新增')}</a>
				<% } %>
			</div>
		</div>
		<div class="box-body">
			<#form:form id="searchForm" model="${tflexibleJoinin}" action="${ctx}/t_flexible_joinin/tflexibleJoinin/listData" method="post" class="form-inline hide"
					data-page-no="${parameter.pageNo}" data-page-size="${parameter.pageSize}" data-order-by="${parameter.orderBy}">
				<div class="form-group">
					<label class="control-label">${text('微信中的openid')}：</label>
					<div class="control-inline">
						<#form:input path="openid" maxlength="50" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('用户id')}：</label>
					<div class="control-inline">
						<#form:input path="memberid" maxlength="120" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('活动id')}：</label>
					<div class="control-inline">
						<#form:input path="flexibleid" maxlength="120" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('活动名称')}：</label>
					<div class="control-inline">
						<#form:input path="flexiblename" maxlength="255" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('活动状态 ')}：</label>
					<div class="control-inline">
						<#form:input path="flexiblestatus" maxlength="40" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('简短标题')}：</label>
					<div class="control-inline">
						<#form:input path="subtitle" maxlength="255" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-primary btn-sm">${text('查询')}</button>
					<button type="reset" class="btn btn-default btn-sm">${text('重置')}</button>
				</div>
			</#form:form>
			<table id="dataGrid"></table>
			<div id="dataGridPage"></div>
		</div>
	</div>
</div>
<% } %>
<script>
// 初始化DataGrid对象
$('#dataGrid').dataGrid({
	searchForm: $("#searchForm"),
	columnModel: [
		{header:'${text('微信中的openid')}', name:'openid', index:'a.openid', width:150, align:"left", frozen:true, formatter: function(val, obj, row, act){
			return '<a href="${ctx}/t_flexible_joinin/tflexibleJoinin/form?joininid='+row.joininid+'" class="btnList" data-title="${text('编辑我参与的活动(JX)')}">'+(val||row.id)+'</a>';
		}},
		{header:'${text('用户id')}', name:'memberid', index:'a.memberid', width:150, align:"left"},
		{header:'${text('活动id')}', name:'flexibleid', index:'a.flexibleid', width:150, align:"left"},
		{header:'${text('活动名称')}', name:'flexiblename', index:'a.flexiblename', width:150, align:"left"},
		{header:'${text('活动状态 ')}', name:'flexiblestatus', index:'a.flexiblestatus', width:150, align:"left"},
		{header:'${text('简短标题')}', name:'subtitle', index:'a.subtitle', width:150, align:"left"},
		{header:'${text('截止日期')}', name:'enddate', index:'a.enddate', width:150, align:"center"},
		{header:'${text('状态')}', name:'status', index:'a.status', width:150, align:"center", formatter: function(val, obj, row, act){
			return js.getDictLabel(${@DictUtils.getDictListJson('sys_search_status')}, val, '${text('未知')}', true);
		}},
		{header:'${text('创建日期')}', name:'createDate', index:'a.create_date', width:150, align:"center"},
		{header:'${text('操作')}', name:'actions', width:120, sortable:false, title:false, formatter: function(val, obj, row, act){
			var actions = [];
			<% if(hasPermi('t_flexible_joinin:tflexibleJoinin:edit')){ %>
				actions.push('<a href="${ctx}/t_flexible_joinin/tflexibleJoinin/form?joininid='+row.joininid+'" class="btnList" title="${text('编辑我参与的活动(JX)')}"><i class="fa fa-pencil"></i></a>&nbsp;');
				if (row.status == Global.STATUS_NORMAL){
					actions.push('<a href="${ctx}/t_flexible_joinin/tflexibleJoinin/disable?joininid='+row.joininid+'" class="btnList" title="${text('停用我参与的活动(JX)')}" data-confirm="${text('确认要停用该我参与的活动(JX)吗？')}"><i class="glyphicon glyphicon-ban-circle"></i></a>&nbsp;');
				}
				if (row.status == Global.STATUS_DISABLE){
					actions.push('<a href="${ctx}/t_flexible_joinin/tflexibleJoinin/enable?joininid='+row.joininid+'" class="btnList" title="${text('启用我参与的活动(JX)')}" data-confirm="${text('确认要启用该我参与的活动(JX)吗？')}"><i class="glyphicon glyphicon-ok-circle"></i></a>&nbsp;');
				}
				actions.push('<a href="${ctx}/t_flexible_joinin/tflexibleJoinin/delete?joininid='+row.joininid+'" class="btnList" title="${text('删除我参与的活动(JX)')}" data-confirm="${text('确认要删除该我参与的活动(JX)吗？')}"><i class="fa fa-trash-o"></i></a>&nbsp;');
			<% } %>
			return actions.join('');
		}}
	],
	// 加载成功后执行事件
	ajaxSuccess: function(data){
		
	}
});
</script>