<% layout('/layouts/default.html', {title: 't_information管理', libs: ['dataGrid']}){ %>
<div class="main-content">
	<div class="box box-main">
		<div class="box-header">
			<div class="box-title">
				<i class="fa fa-list-alt"></i> ${text('t_information管理')}
			</div>
			<div class="box-tools pull-right">
				<a href="#" class="btn btn-default" id="btnSearch" title="${text('查询')}"><i class="fa fa-filter"></i> ${text('查询')}</a>
				<% if(hasPermi('t_information:tinformation:edit')){ %>
					<a href="${ctx}/t_information/tinformation/form" class="btn btn-default btnTool" title="${text('新增t_information')}"><i class="fa fa-plus"></i> ${text('新增')}</a>
				<% } %>
			</div>
		</div>
		<div class="box-body">
			<#form:form id="searchForm" model="${tinformation}" action="${ctx}/t_information/tinformation/listData" method="post" class="form-inline hide"
					data-page-no="${parameter.pageNo}" data-page-size="${parameter.pageSize}" data-order-by="${parameter.orderBy}">
				<div class="form-group">
					<label class="control-label">${text('推荐资讯名称')}：</label>
					<div class="control-inline">
						<#form:input path="infoname" maxlength="64" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('资讯发送部门')}：</label>
					<div class="control-inline">
						<#form:input path="department" maxlength="64" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('跳转路径')}：</label>
					<div class="control-inline">
						<#form:input path="detailurl" maxlength="1024" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('状态信息')}：</label>
					<div class="control-inline width-120">
						<#form:select path="status" dictType="sys_search_status" blankOption="true" class="form-control"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('是否推荐 1表示推荐 0表示不推荐')}：</label>
					<div class="control-inline">
						<#form:radio path="isrecommend" dictType="sys_yes_no" blankOption="true" class="form-control"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('发送者id')}：</label>
					<div class="control-inline">
						<#form:input path="senderid" maxlength="20" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('发送者姓名')}：</label>
					<div class="control-inline">
						<#form:input path="sendername" maxlength="60" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('create_date')}：</label>
					<div class="control-inline">
						<#form:input path="createDate_gte" readonly="true" maxlength="20" class="form-control Wdate-datetime"
							dataFormat="datetime" onclick="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm',isShowClear:false,onpicked:function(){createDate_lte.click()}});"/>
						&nbsp;--&nbsp;
						<#form:input path="createDate_lte" readonly="true" maxlength="20" class="form-control Wdate-datetime"
							dataFormat="datetime" onclick="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm',isShowClear:false});"/>
					</div>
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-primary btn-sm">${text('查询')}</button>
					<button type="reset" class="btn btn-default btn-sm">${text('重置')}</button>
				</div>
			</#form:form>
			<table id="dataGrid"></table>
			<div id="dataGridPage"></div>
		</div>
	</div>
</div>
<% } %>
<script>
// 初始化DataGrid对象
$('#dataGrid').dataGrid({
	searchForm: $("#searchForm"),
	columnModel: [
		{header:'${text('推荐资讯名称')}', name:'infoname', index:'a.infoname', width:150, align:"left", frozen:true, formatter: function(val, obj, row, act){
			return '<a href="${ctx}/t_information/tinformation/form?infoid='+row.infoid+'" class="btnList" data-title="${text('编辑t_information')}">'+(val||row.id)+'</a>';
		}},
		{header:'${text('资讯发送部门')}', name:'department', index:'a.department', width:150, align:"left"},
		{header:'${text('跳转路径')}', name:'detailurl', index:'a.detailurl', width:150, align:"left"},
		{header:'${text('图片0')}', name:'img', index:'a.img', width:150, align:"left"},
		{header:'${text('视频路径')}', name:'videourl', index:'a.videourl', width:150, align:"left"},
		{header:'${text('状态信息')}', name:'status', index:'a.status', width:150, align:"center", formatter: function(val, obj, row, act){
			return js.getDictLabel(${@DictUtils.getDictListJson('sys_search_status')}, val, '${text('未知')}', true);
		}},
		{header:'${text('是否推荐 1表示推荐 0表示不推荐')}', name:'isrecommend', index:'a.isrecommend', width:150, align:"center", formatter: function(val, obj, row, act){
			return js.getDictLabel(${@DictUtils.getDictListJson('sys_yes_no')}, val, '${text('未知')}', true);
		}},
		{header:'${text('发送者id')}', name:'senderid', index:'a.senderid', width:150, align:"left"},
		{header:'${text('发送者姓名')}', name:'sendername', index:'a.sendername', width:150, align:"left"},
		{header:'${text('create_date')}', name:'createDate', index:'a.create_date', width:150, align:"center"},
		{header:'${text('extend1')}', name:'extend1', index:'a.extend1', width:150, align:"left"},
		{header:'${text('操作')}', name:'actions', width:120, sortable:false, title:false, formatter: function(val, obj, row, act){
			var actions = [];
			<% if(hasPermi('t_information:tinformation:edit')){ %>
				actions.push('<a href="${ctx}/t_information/tinformation/form?infoid='+row.infoid+'" class="btnList" title="${text('编辑t_information')}"><i class="fa fa-pencil"></i></a>&nbsp;');
				if (row.status == Global.STATUS_NORMAL){
					actions.push('<a href="${ctx}/t_information/tinformation/disable?infoid='+row.infoid+'" class="btnList" title="${text('停用t_information')}" data-confirm="${text('确认要停用该t_information吗？')}"><i class="glyphicon glyphicon-ban-circle"></i></a>&nbsp;');
				}
				if (row.status == Global.STATUS_DISABLE){
					actions.push('<a href="${ctx}/t_information/tinformation/enable?infoid='+row.infoid+'" class="btnList" title="${text('启用t_information')}" data-confirm="${text('确认要启用该t_information吗？')}"><i class="glyphicon glyphicon-ok-circle"></i></a>&nbsp;');
				}
				actions.push('<a href="${ctx}/t_information/tinformation/delete?infoid='+row.infoid+'" class="btnList" title="${text('删除t_information')}" data-confirm="${text('确认要删除该t_information吗？')}"><i class="fa fa-trash-o"></i></a>&nbsp;');
			<% } %>
			return actions.join('');
		}}
	],
	// 加载成功后执行事件
	ajaxSuccess: function(data){
		
	}
});
</script>